[Desktop Entry]
Name=Conch
Comment=Terminal Emulator with SSH session management
Exec=/opt/conch/bin/conch
Icon=conch
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;ssh;shell;
